extends layout

block content
	#wrapper
		include header
			
		#display
			include userbar
			
			.panel.panel-default
				.panel-body
					p The #{name} is one of the must-have items for any aspiring ninja. It costs just $#{price} on our store.
					strong.label.label-success Buy it today!

		include footer