extends layout

block content
	#wrapper
		include header

		#display
			include userbar
			
			-for (var id in items)
				- var item = items[id]
				ul.list-group
					li.list-group-item
						a(href='/item/#{id}') #{item.name} 
						span.badge $#{item.price}

		include footer